section.banner
    div.banner-container
        div.banner__bg
        div.banner-info
            h1.banner__title regala motivación
            p.banner__description Encuentra el regalo perfecto para sus objetivos.
            a.banner__link Comprar
                
