section.featured
    div.featured-container
        h1.featured__title Destacados
        
        div.featured__list
            div.featured__item
                picture.featured__item-picture
                    source.featured__item-bg(srcset="img/featured-1-mob.jpg", media="(max-width: 640px)")
                    img.featured__item-bg(src="img/featured-1.jpg" alt="image")
                div.featured__item-info
                    p.featured__item-title Artista residente
                    p.featured__item-description Running on a.i.r.
                    a.featured__item-link Comprar
                    
    
