section.header
    div.header-container
        img.header__icon(src="img/nike.svg" alt="icono")

        nav.main-menu
            ul.main-menu__list
                li.main-menu__item
                    a.main-menu__link(href="#") Nuevos lanzamientos
                    
                    div.main-menu__mega
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Destacado
                            li.main-menu__subitem
                                a.main-menu__sublink Lo nuevo este mes
                            li.main-menu__subitem
                                a.main-menu__sublink Lo más vendido
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Novedades para hombre
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Comparar todas las novedades
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Novedades para mujer
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Comparar todas las novedades
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Novedades para niños/as
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado para niño
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa para niño
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado para niña
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa para niña
                            li.main-menu__subitem
                                a.main-menu__sublink Comparar todas las novedades
        
                li.main-menu__item
                    a.main-menu__link(href="#") Regalos
                    
                    div.main-menu__mega
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Novedades para niños/as
                            li.main-menu__subitem
                                a.main-menu__sublink Regalos para hombre
                            li.main-menu__subitem
                                a.main-menu__sublink Regalos para mujer
                            li.main-menu__subitem
                                a.main-menu__sublink Regalos para niño/a
                            li.main-menu__subitem
                                a.main-menu__sublink Todos los regalos
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Comprar por precio
                            li.main-menu__subitem
                                a.main-menu__sublink Menos de $1,000
                            li.main-menu__subitem
                                a.main-menu__sublink $1,000 - $2,0000
                            li.main-menu__subitem
                                a.main-menu__sublink $2,000 - $3,0000
                            li.main-menu__subitem
                                a.main-menu__sublink Más de $3,0000
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Comprar por producto
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Bras deportivos
                            li.main-menu__subitem
                                a.main-menu__sublink Prendas para la parte superior
                            li.main-menu__subitem
                                a.main-menu__sublink Sudadera con gorro y sudadera sin cierre
                            li.main-menu__subitem
                                a.main-menu__sublink Chamarras y chalecos
                            li.main-menu__subitem
                                a.main-menu__sublink Pants
                            li.main-menu__subitem
                                a.main-menu__sublink Shorts
                            li.main-menu__subitem
                                a.main-menu__sublink Nike pro
                            li.main-menu__subitem
                                a.main-menu__sublink Conjuntos para entrenamiento 
                            li.main-menu__subitem
                                a.main-menu__sublink Calcetines
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Comprar por colección
                            li.main-menu__subitem
                                a.main-menu__sublink Air Force 1
                            li.main-menu__subitem
                                a.main-menu__sublink Blazer
                            li.main-menu__subitem
                                a.main-menu__sublink Pegaso
                            li.main-menu__subitem
                                a.main-menu__sublink Air Max
                            li.main-menu__subitem
                                a.main-menu__sublink Metcon
                            li.main-menu__subitem
                                a.main-menu__sublink Falcom
                            li.main-menu__subitem
                                a.main-menu__sublink Mercurial
                li.main-menu__item
                    a.main-menu__link(href="#") Hombre
                    
                    div.main-menu__mega
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Destacado
                            li.main-menu__subitem
                                a.main-menu__sublink Nuevos lanzamiento
                            li.main-menu__subitem
                                a.main-menu__sublink LO más vendido
                            li.main-menu__subitem
                                a.main-menu__sublink Exclusivo miembros Nike
                            li.main-menu__subitem
                                a.main-menu__sublink Kits de fútbol
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Tennis
                            li.main-menu__subitem
                                a.main-menu__sublink Fútbol
                            li.main-menu__subitem
                                a.main-menu__sublink Jordan
                            li.main-menu__subitem
                                a.main-menu__sublink Running
                            li.main-menu__subitem
                                a.main-menu__sublink Básquetbol
                            li.main-menu__subitem
                                a.main-menu__sublink Gimnasio y entrenamiento
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Playeras y tops
                            li.main-menu__subitem
                                a.main-menu__sublink Polos 
                            li.main-menu__subitem
                                a.main-menu__sublink Kits y camisetas
                            li.main-menu__subitem
                                a.main-menu__sublink Sudadera con gorro y sudadera sin cierre
                            li.main-menu__subitem
                                a.main-menu__sublink Chamarras y chalecos
                            li.main-menu__subitem
                                a.main-menu__sublink Pants
                            li.main-menu__subitem
                                a.main-menu__sublink Shorts
                            li.main-menu__subitem
                                a.main-menu__sublink Nike pro
                            li.main-menu__subitem
                                a.main-menu__sublink Conjuntos para entrenamiento 
                            li.main-menu__subitem
                                a.main-menu__sublink Calcetines
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Materiales sustentables
                            li.main-menu__subitem
                                a.main-menu__sublink Toda la ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Toda la ropa en rebaja
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Comprar por colección
                            li.main-menu__subitem
                                a.main-menu__sublink Nike sportswear
                            li.main-menu__subitem
                                a.main-menu__sublink Basquetbal
                            li.main-menu__subitem
                                a.main-menu__sublink Air Force 1
                            li.main-menu__subitem
                                a.main-menu__sublink Blazer
                            li.main-menu__subitem
                                a.main-menu__sublink Pegaso
                            li.main-menu__subitem
                                a.main-menu__sublink Air Max
                            li.main-menu__subitem
                                a.main-menu__sublink Metcon
                            li.main-menu__subitem
                                a.main-menu__sublink Falcom
                            li.main-menu__subitem
                                a.main-menu__sublink Mercurial
                                
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Bolsos
                            li.main-menu__subitem
                                a.main-menu__sublink Mochilas
                            li.main-menu__subitem
                                a.main-menu__sublink Balones
                li.main-menu__item
                    a.main-menu__link(href="#") Mujer
                    
                    div.main-menu__mega
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Destacado
                            li.main-menu__subitem
                                a.main-menu__sublink Nuevos lanzamiento
                            li.main-menu__subitem
                                a.main-menu__sublink LO más vendido
                            li.main-menu__subitem
                                a.main-menu__sublink Exclusivo miembros Nike
                            li.main-menu__subitem
                                a.main-menu__sublink Kits de fútbol
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Tennis
                            li.main-menu__subitem
                                a.main-menu__sublink Fútbol
                            li.main-menu__subitem
                                a.main-menu__sublink Jordan
                            li.main-menu__subitem
                                a.main-menu__sublink Running
                            li.main-menu__subitem
                                a.main-menu__sublink Básquetbol
                            li.main-menu__subitem
                                a.main-menu__sublink Gimnasio y entrenamiento
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Playeras y tops
                            li.main-menu__subitem
                                a.main-menu__sublink Polos 
                            li.main-menu__subitem
                                a.main-menu__sublink Kits y camisetas
                            li.main-menu__subitem
                                a.main-menu__sublink Sudadera con gorro y sudadera sin cierre
                            li.main-menu__subitem
                                a.main-menu__sublink Chamarras y chalecos
                            li.main-menu__subitem
                                a.main-menu__sublink Pants
                            li.main-menu__subitem
                                a.main-menu__sublink Shorts
                            li.main-menu__subitem
                                a.main-menu__sublink Nike pro
                            li.main-menu__subitem
                                a.main-menu__sublink Conjuntos para entrenamiento 
                            li.main-menu__subitem
                                a.main-menu__sublink Calcetines
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Materiales sustentables
                            li.main-menu__subitem
                                a.main-menu__sublink Toda la ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Toda la ropa en rebaja
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Comprar por colección
                            li.main-menu__subitem
                                a.main-menu__sublink Nike sportswear
                            li.main-menu__subitem
                                a.main-menu__sublink Basquetbal
                            li.main-menu__subitem
                                a.main-menu__sublink Air Force 1
                            li.main-menu__subitem
                                a.main-menu__sublink Blazer
                            li.main-menu__subitem
                                a.main-menu__sublink Pegaso
                            li.main-menu__subitem
                                a.main-menu__sublink Air Max
                            li.main-menu__subitem
                                a.main-menu__sublink Metcon
                            li.main-menu__subitem
                                a.main-menu__sublink Falcom
                            li.main-menu__subitem
                                a.main-menu__sublink Mercurial
                li.main-menu__item
                    a.main-menu__link(href="#") Niño/a
                    div.main-menu__mega
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Destacado
                            li.main-menu__subitem
                                a.main-menu__sublink Nuevos lanzamiento
                            li.main-menu__subitem
                                a.main-menu__sublink LO más vendido
                            li.main-menu__subitem
                                a.main-menu__sublink Exclusivo miembros Nike
                            li.main-menu__subitem
                                a.main-menu__sublink Kits de fútbol
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Tennis
                            li.main-menu__subitem
                                a.main-menu__sublink Fútbol
                            li.main-menu__subitem
                                a.main-menu__sublink Jordan
                            li.main-menu__subitem
                                a.main-menu__sublink Running
                            li.main-menu__subitem
                                a.main-menu__sublink Básquetbol
                            li.main-menu__subitem
                                a.main-menu__sublink Gimnasio y entrenamiento
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Playeras y tops
                            li.main-menu__subitem
                                a.main-menu__sublink Polos 
                            li.main-menu__subitem
                                a.main-menu__sublink Kits y camisetas
                            li.main-menu__subitem
                                a.main-menu__sublink Sudadera con gorro y sudadera sin cierre
                            li.main-menu__subitem
                                a.main-menu__sublink Chamarras y chalecos
                            li.main-menu__subitem
                                a.main-menu__sublink Pants
                            li.main-menu__subitem
                                a.main-menu__sublink Shorts
                            li.main-menu__subitem
                                a.main-menu__sublink Nike pro
                            li.main-menu__subitem
                                a.main-menu__sublink Conjuntos para entrenamiento 
                            li.main-menu__subitem
                                a.main-menu__sublink Calcetines
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Materiales sustentables
                            li.main-menu__subitem
                                a.main-menu__sublink Toda la ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Toda la ropa en rebaja
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Bebé e infantil
                            li.main-menu__subitem
                                a.main-menu__sublink Bebé niña
                            li.main-menu__subitem
                                a.main-menu__sublink Bebé niño
                            li.main-menu__subitem
                                a.main-menu__sublink Todo el calzado para bebé

                li.main-menu__item
                    a.main-menu__link(href="#") Rebajas
                    
                    div.main-menu__mega
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Destacado
                            li.main-menu__subitem
                                a.main-menu__sublink Lo nuevo este mes
                            li.main-menu__subitem
                                a.main-menu__sublink Lo más vendido
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Rebajas para hombre
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Comparar todas las novedades
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Rebajas para mujer
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa
                            li.main-menu__subitem
                                a.main-menu__sublink Accesorios y equipo
                            li.main-menu__subitem
                                a.main-menu__sublink Comparar todas las novedades
                        ul.main-menu__sublist
                            li.main-menu__subitem
                                a.main-menu__sublink.main-menu__sublink--title Rebajas para niños/as
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado para niño
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa para niño
                            li.main-menu__subitem
                                a.main-menu__sublink Calzado para niña
                            li.main-menu__subitem
                                a.main-menu__sublink Ropa para niña
                            li.main-menu__subitem
                                a.main-menu__sublink Comparar todas las novedades
                li.main-menu__item
                    a.main-menu__link(href="#") SNKRS
                
        form.main-search
            div.main-search__row
                input.main-search__input(type="text" placeholder="Buscar")
                img.main-search__icon.main-search__icon--fixed(src="img/search-icon.svg" alt="icono")
            img.main-search__icon(src="img/heart-icon.svg" alt="icono")
            img.main-search__icon(src="img/cart-icon.svg" alt="icono")
            img.main-search__icon.main-search__icon--mob(src="img/home-icon.svg" alt="icono")
