section.latest
    div.latest-container
        h1.latest__title lo más reciente
        
        div.latest__list
            div.latest__item
                picture.latest__item-picture
                    source.latest__item-bg(srcset="img/latest-1-mob.jpg", media="(max-width: 640px)")
                    img.latest__item-bg(src="img/latest-1.jpg" alt="image")
                div.latest__item-info
                    p.latest__item-description Colección Nike Yoga
                    a.latest__item-link Comprar                
            div.latest__item
                picture.latest__item-picture
                    source.latest__item-bg(srcset="img/latest-2-mob.jpg", media="(max-width: 640px)")
                    img.latest__item-bg(src="img/latest-2.jpg" alt="image")
                div.latest__item-info
                    p.latest__item-description Colección Sisterhood of Sport
                    a.latest__item-link Comprar
    
                
