section.login
    div.login-container
        img.login__icon(src="img/login-icon.png" alt="icono")

        nav.login-menu
            li.login-menu__item
                a.login-menu__link(href="#") Ayuda
            li.login-menu__item
                a.login-menu__link.login-menu__link--separator(href="#") |
            li.login-menu__item
                a.login-menu__link(href="#") Únete 
            li.login-menu__item
                a.login-menu__link.login-menu__link--separator(href="#") |
            li.login-menu__item
                a.login-menu__link(href="#") Iniciar sesión 
