section.more
    div.more-container
        h1.more__title Más Nike
        
        div.more__list
            div.more__item
                img.more__item-bg(src="img/more-1.jpg" alt="image")
                div.more__item-info
                    a.more__item-link Hombre            
            div.more__item
                img.more__item-bg(src="img/more-2.jpg" alt="image")
                div.more__item-info
                    a.more__item-link Mujer
            div.more__item
                img.more__item-bg(src="img/more-3.jpg" alt="image")
                div.more__item-info
                    a.more__item-link Niños
    

        
