section.slider
    div.slider-container
        h1.slider__title Encuentra la chamarra ideal para ti
        
        div.slider__list.swiper-container
            div.swiper-wrapper
                
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-1.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nike Sportswear Swoosh
                        span.slider__item-price $1679
                    p.slider__item-description Chamarra tejida con capucha para hombre
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-2.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Pumas UNAM Windrunner
                        span.slider__item-price $1599
                    p.slider__item-description Chamarra de tehido Woven para hombre
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-3.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nike Sportswear Heritage Windrunner
                        span.slider__item-price $1899
                    p.slider__item-description Chamarra para hombre
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-4.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nike Air
                        span.slider__item-price $599
                    p.slider__item-description Chamarra de entrenador para mujer
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-5.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nike Sportswear Windrunner
                        span.slider__item-price $2149
                    p.slider__item-description Chamarra para hombre
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-6.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nike Sportswear Swoosh
                        span.slider__item-price $1679
                    p.slider__item-description Chamarra tejida con capucha para hombre        
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-7.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nike Sportswear 
                        span.slider__item-price $1679
                    p.slider__item-description Chamarra para mujer
                div.slider__item.swiper-slide
                    img.slider__item-img(src="img/slider-8.jpg" alt="image")
                    div.slider__item-info
                        h4.slider__item-title Nigeria
                        span.slider__item-price $3099
                    p.slider__item-description Poncho tejido Woven para hombre
            div.swiper-scrollbar
                
