section.trends
    div.trends-container
        h1.trends__title tendencias
        
        div.trends__list
            div.trends__item
                picture.trends__item-picture
                    source.trends__item-bg(srcset="img/trend-1-mob.jpg", media="(max-width: 640px)")
                    img.trends__item-bg(src="img/trend-1.jpg" alt="image")
                div.trends__item-info
                    p.trends__item-description Colección Nike Yoga
                    a.trends__item-link Comprar                
            div.trends__item
                picture.trends__item-picture
                    source.trends__item-bg(srcset="img/trend-2-mob.jpg", media="(max-width: 640px)")
                    img.trends__item-bg(src="img/trend-2.jpg" alt="image")
                div.trends__item-info
                    p.trends__item-description Colección Sisterhood of Sport
                    a.trends__item-link Comprar
    
                
