@font-face {
	font-family: 'Nike TG';
	src: url('../fonts/nike-futura-extra-bold-v200.woff2') format('woff2');
}
@mixin f11() {
	font-family: 'Oswald', sans-serif;
	font-size: 12px;
    line-height: 22px;
	margin-bottom: 4px;
	letter-spacing: 1px;
    vertical-align: middle;
}
@mixin f12() {
	font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    vertical-align: baseline;
}
@mixin f14() {
	font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    vertical-align: middle;
}
@mixin f16() {
	font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    vertical-align: baseline;
}
@mixin f20() {
	font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}
@mixin f24() {
	font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    vertical-align: baseline;
    text-transform: uppercase;
}
@mixin f72() {
    font-family: 'Nike TG';
	font-size: 72px;
    font-weight: 500;
    line-height: 1;
    vertical-align: baseline;
    text-transform: uppercase;

	@media(max-width: $mq5){ font-size: 48px; }
}
@mixin link() {
    @include f16();
    padding: 12px 28px;
    border-radius: 20px;
    transition: $transition;

    &:hover{
        opacity: .8;
        transition: $transition;
    }
}
